
/* banner principal */

.banner-principal {
    background: url("../img/bg-contato.jpg") no-repeat center center;
    background-size:cover;
    max-width:100%;
    height:auto;
    background-attachment: fixed;
}

.banner-titulos {
    margin:0 auto;
    color:#fff;
    text-align:center;
    padding:7em 0;
}

/* formulário de contato */

.contato-formu {
	display:flex;
	justify-content: center;
}

article {
	width:50%;
	margin:2em auto;
}

article h4 {
	text-align:left;
	}

.contato form input[type=text],
.contato form input[type=tel],
.contato form input[type=email],
.contato form textarea,
.contato form select {
	width:93%;
	padding:1em;
	margin-bottom:1.5em;
	background:#f8f8f8;
	border-radius:0.5em;
}

.contato form textarea {
	font-family:inherit;
	font-size:inherit;
}

.contato form input[type=submit] {
	text-transform:uppercase;
    background:#bb6804;
    padding:1em 3em;
    border-radius:2em;
    color:#fff;
    transition: all 1s;
    margin-top:1em;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    cursor:pointer;
}

.contato form input[type=submit]:hover {
	 background:#a05a04;

}



/*
seção MAPA*/


.mapa {
	margin-bottom:2em;
}